<nav class="masthead" aria-label="Primary navigation">
  <div class="masthead__inner-wrap">
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">
      <img src="{{ site.author.avatar | relative_url }}" alt="{{ site.author.name }}" class="site-title__avatar" width="32" height="32">
      <span class="site-title__text">{{ site.title }}</span>
    </a>
    <div class="masthead__links">
      {% for link in site.data.navigation.main %}
        <a href="{{ link.url | relative_url }}" class="{{ link.class }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
      {% endfor %}
    </div>
  </div>
</nav>
