{% assign locale = include.locale | default: site.locale %}
{% assign related_items = include.posts | where_exp: "item", "item.hidden != true" %}

<div class="page__related">
  <h2 class="page__related-title">{{ site.data.ui-text[locale].related_label | default: "You May Also Enjoy" }}</h2>
  <div class="grid__wrapper">
    {% for related_post in related_items limit:4 %}
      {% if related_post.id == page.id %}{% continue %}{% endif %}
      <div class="related-post__item">
        <a href="{{ related_post.url | relative_url }}" rel="permalink">
          {% if related_post.title %}
            {{ related_post.title | markdownify | remove: "<p>" | remove: "</p>" }}
          {% else %}
            {{ related_post.excerpt | markdownify | remove: "<p>" | remove: "</p>" | truncatewords: 10 }}
          {% endif %}
        </a>
        {% if related_post.date %}
          <time datetime="{{ related_post.date | date_to_xmlschema }}">{{ related_post.date | date: "%B %d, %Y" }}</time>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
