---
layout: archive
---
{%- assign locale = page.locale | default: layout.locale | default: site.locale %}

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts | where_exp: "item", "item.hidden != true" %}
{% endif %}
{% if page.filter_lang %}
  {% assign posts = posts | where: "lang", page.filter_lang %}
{% endif %}

<div class="entries-dense">
  {% include posts-loose-list.html posts=posts %}
</div>

{% include paginator.html locale=locale %}
